.nav {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    padding: 0 20px;
    height: 60px;
    background-color: rgb(16, 24, 29);
    box-shadow: 0 2px 4px 0 rgb(55, 65, 81);
}

.link {
    color: rgb(156, 163, 175);
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0 10px;
}

.active {
    color: whitesmoke;
    text-decoration: underline;
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0 10px;
}
